body {
    background: #ffffff;
    margin: 0;
  }
 h1 {
    font-size: 36px;
    line-height: normal;
  } 
  .advertising {
  
    height: 100px;
    font-family: Roboto;
    font-size: 18px;
    color: #000000;
    background: #EFF5E9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-main {
    

    height: 115px;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
  
  vertical-align: middle;
    
   

  }

  .header-logo {
    margin: 7px;

  }
  .header-text {
    font-family: Roboto;
    font-size: 16px;
line-height: 20px;
max-width: 140px;

  }
  .header-email{
    font-family: Roboto;
    font-size: 16px;
line-height: 102.8%;
display: flex;
align-items: center;
text-decoration-line: underline;
  }
  .header-phone{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 102.8%;
    /* or 16px */
    
    display: flex;
    align-items: center;
    text-decoration-line: underline;
  }
  .header-callback{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 102.8%;
    /* or 16px */
    
    display: flex;
    align-items: center;
    text-decoration-line: underline;
  }
  .header-menu {
    background: #333333;
    height: 55px;
  }

.container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;

    flex-wrap: nowrap;
    justify-content: space-between; 
     align-items: center; 
     align-content: center;
     height: 100%;
     
    
}
.footer-menu
{
  height: 550px;
  background: #535353;
  
}
.bigtext
{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 108.4%;
color: #FFFFFF;
align-content: center; 
display: flex;
justify-content: center; 
}
  
  